/* 
    Document   : syle
    Created on : Oct 7, 2013, 8:53:03 AM
    Author     : Derek
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
<<<<<<< HEAD
    background-image:url('images/orange-orchard.jpg');
    background-repeat: no-repeat;
    /*background-color: #DDDDDD;*/
    background-size:cover;
=======
    background-color: #DDDDDD;   
>>>>>>> 39bc6047aff951e40945ddcf35026bea034d4eef
}

* {
    color: black;
}
<<<<<<< HEAD

p.t1 /* Bold Title */
{
font-weight: bold;
color: green;
font-family: Verdana, Geneva, Arial, sans-serif;
}

.center /* This can be used as defualt center all body contents for all jsp and html*/
{    
margin:auto;
width:70%;
border:3px solid whitesmoke;
width:680px;
font-family: Verdana, Geneva, Arial, sans-serif;
color: #330000;
padding: 2em;
position:relative;top:100px;
}
.displayTable {
    border-style: none;
    border-width: 1px;
    border-collapse: collapse;
    border-color: black;
}
.displayTable th {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: black;
}

